<a href="/" id="navElem">Home</a>
<a href="/mercury" id="navElem">Mercury</a>
<a href="/venus" id="navElem">Venus</a>
<a href="/mars" id="navElem">Mars</a>
<a href="/earth" id="navElem">Earth</a>
<a href="/saturn" id="navElem">Saturn</a>
<a href="/jupiter" id="navElem">Jupiter</a>
<a href="/uranus" id="navElem">Uranus</a>
<a href="/neptune" id="navElem">Neptune</a>
<a href="/nasa" id="navElem">Nasa's Image of the Day</a>
<br>
